{% extends "layout.twig" %}

{% block content %}
        <ul id="listHistory">
            <li><a href="javascript:history.back()">&lt; Back to the Tweets!</a></li>
{% for location in history %}
            <li><a href="/search/{{ location.name }}">{{ location.name }}</a></li>
{% endfor %}
        </ul>
{% endblock %}